# 1. I-ignore ang lahat ng nasa root (mga files lang, hindi kasama ang subdirectories)
/*.*

# 2. I-ignore ang lahat ng folders sa root
/*/

# 3. I-unignore ang dist folder at ang .gitignore mismo
!/dist/
!.gitignore